<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo">
            <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
                <li nz-submenu>
                    <span title>
                        <i class="anticon anticon-user"></i>
                        <a class="nav-text" routerLink="/" routerLinkActive="active">Home</a>
                    </span>
                </li>
                <li nz-menu-item>
                    <span>
                        <i class="anticon anticon-file"></i>
                        <a class="nav-text" routerLink="/about" routerLinkActive="active">About</a>
                    </span>
                </li>
                <li nz-menu-item>
                    <span>
                        <i class="anticon anticon-file"></i>
                        <a class="nav-text" routerLink="/add" routerLinkActive="active">Add</a>
                    </span>
                </li>
            </ul>
        </div>
    </nz-sider>
    <nz-layout>
        <nz-header style="background: #fff; padding:0;">
            <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
        </nz-header>
        <nz-content style="margin:0 16px;">
            <nz-breadcrumb style="margin:12px 0;">
                <nz-breadcrumb-item>
                    Example1
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    Example2
                </nz-breadcrumb-item>
            </nz-breadcrumb>
            <div style="padding:24px; background: #fff; min-height: 360px;">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
    </nz-layout>
</nz-layout>
