* {
    box-sizing: border-box;
}
html, body {
    background-color: #e4e7e6;
}

#app {
    margin: auto;
    max-width: 1024px;
    width: 100%;
}

#bookmarks {
    display: flex;
    flex-wrap: wrap;
}
.bookmark {
    width: 23%;
    margin: 1%;
    box-shadow: 0 2px 4px -2px rgba(36, 45, 50, 0.2);
    border-radius: 3px;
    background-color: #ffffff;
    padding: 1rem;
}
.bookmark__icon {
    width: 20px;
}
.bookmark__title {
    margin: 5px 0 0 0;
}
.bookmark__link {
    color: #000000;
}